* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
}


  .left-menu {
    background-color: orangered;
    
    padding: 20px;
    padding-top: 60px;
    color: white;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding-top: 60px;
    padding-bottom: 40px;
  }
   ul>li {
    padding-bottom: 16px;
   }

  .left-menu>h1 {
    font-size: 16px;
    width: 20px;
  }


  .body-container {
     padding: 30px;
     padding-top: 50px;
  }
  
  .menu1 {
     color:black;
     font-size: 35px;
     font-weight: bold;
  }
  
  .menu2 {
     color:orangered;
     margin-top: 20px;
     font-size: 30px;
     font-weight: bold;
  }

  .udiv {
    width: 100px;
    height: 5px;
    background-color: orangered;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .para {
    width: 1000px;
    margin-bottom: 20px;
  }


  .grid-container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
  }

  .grid-container2>img {
    width:100%
  }

  .grid-container3 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
  }

  .grid-container3>div>img {
    width: 100%;
  }

  .grid-container4 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    padding-top:20px;
  }

  .desc {
    
    
    padding: 10px
    
  }
  .back {
    background-color: lightgray;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .title {
    font-size: 18px;
    padding-bottom: 10px;
  }


  .g4-title1 {
   background-color: gray;
  }

  .g4-title2 {
    background-color: orangered;
  }

  .g4-title1, .g4-title2 {
    padding:30px;
    color: white;
    text-align: center;
    font-size: 25px;
  }
.g4-p1 {
   padding:20px;
   text-align: center;
   border: 1px gray solid;
}

.btn-group1 {
  display: flex;
  justify-content: center;
}